<div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Year</th>
      <th scope="col">Price</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>an id</th>
      <td>name of book</td>
      <td>the author</td>
      <td>the year</td>
      <td>the price</td>
      <td>
        <button type="button" class="btn btn-danger">Delete</button>
      </td>
    </tr>
   </tbody>
  </table>
<!--  <button type="button" class="btn btn-primary" (click)="RedirectToAddBook">Add new book</button>-->
</div>
